@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Open+Sans:wght@400;600&family=Poppins:wght@700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  user-select: none;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, ul {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.section-title {
  width: max-content;
  padding-bottom: 8px;
  border-bottom: 8px solid #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #FFFFFF;
  text-transform: capitalize;
}

.site-header {
  padding-top: 12px;
  padding-bottom: 12px;
}
.site-header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-nav {
  margin-left: auto;
}

.site-nav__ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-nav__link {
  padding: 16px;
  transition: 0.2s all ease;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.site-nav__li--active .site-nav__link, .site-nav__link:hover {
  color: #03CEA4;
}

.search-button {
  margin-right: 16px;
  padding: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-button img {
  vertical-align: middle;
  transition: 0.2s all ease;
}

.search-language {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form {
  position: absolute;
  top: 85px;
  right: 0;
  width: 320px;
  padding: 10px;
  overflow: hidden;
}

.search-input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #03CEA4;
  padding-left: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  box-shadow: 0 0 10px 0 #FFFFFF;
}

.search-input-open {
  animation-name: search-input-open;
  animation-duration: 0.4s;
  transform-origin: right;
}

.search-input-close {
  animation-name: search-input-close;
  animation-duration: 0.6s;
  transform-origin: left;
}

.hidden {
  display: none;
}

.custom-select {
  position: relative;
  width: 40px;
}

.custom-select select {
  display: none;
}

.select-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0197F6;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.select-items div {
  padding: 12px 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #FFFFFF;
  top: 100%;
  right: 0;
  z-index: 99;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #0197F6;
  color: #FFFFFF;
}

@keyframes search-input-open {
  from {
    transform: translateX(100%);
  }
  to {
    transform: none;
  }
}
@keyframes search-input-close {
  from {
    transform: none;
  }
  to {
    transform: translateX(100%);
  }
}
.site-intro {
  padding-top: 225px;
  padding-bottom: 305px;
  background-image: url("../img/bg-header.png");
  background-size: cover;
  background-position: bottom center;
}
.site-intro .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-intro__left {
  width: 661px;
}
.site-intro__left h1 {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 128%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.site-intro__left a {
  padding: 16px 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  transition: 0.3s all ease;
}
.site-intro__left a:hover {
  background: linear-gradient(89.92deg, #00B892 0.1%, #03CEA4 88.39%);
}

.site-intro__right {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.site-intro__right div:first-child {
  font-weight: 800;
  font-size: 320px;
  line-height: 100%;
  color: #F8F037;
}
.site-intro__right div:last-child {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
}

.site-info {
  position: relative;
  background-image: url("../img/bg-info.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.site-info__left {
  position: relative;
  z-index: 2;
  width: 391px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.site-info__left h2 {
  width: auto;
  margin-bottom: 16px;
}

.site-info__link {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.site-info__li:last-child .site-info__link {
  border-bottom: none;
}

.site-info__gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(89.92deg, #00B892 0.1%, #03CEA4 50%, #03CEA4 50%);
}

.our-products {
  padding-top: 40px;
}
.our-products h2 {
  color: #485764;
  border-color: #03CEA4;
  margin: 0 auto 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 425px;
  min-height: 600px;
  margin-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.card:not(:nth-child(3n)) {
  margin-right: 21px;
}

.card-header {
  position: relative;
  height: 153px;
  margin-bottom: 134px;
  background: linear-gradient(90deg, #3CFCD4 0%, #2AE7BF 100%);
  border-radius: 8px 8px 0 0;
}

.card-img {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  border: 10px solid #FFFFFF;
  border-radius: 50%;
  background-color: #03CEA4;
  overflow: hidden;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}
.card-body div {
  margin-bottom: 8px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #485764;
}
.card-body strong {
  font-weight: 700;
}
.card-body div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-bottom: 0;
  padding-top: 16px;
}

.card-title {
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #050517;
}

.order-btn {
  width: 362px;
  padding: 12px 24px;
  background-color: #F8F037;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #050517;
}
.order-btn:hover {
  background-color: #f3ea09;
  cursor: pointer;
}

.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(265.27deg, #23F7CA 3.83%, #0AD9AD 96.18%);
}
.site-footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-footer__info {
  width: 426px;
}
.site-footer__info h2 {
  margin-bottom: 24px;
}

.site-footer__ul {
  margin-bottom: 113px;
}

.site-footer__li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.site-footer__li img {
  margin-right: 16px;
  transform: translateY(9px);
}
.site-footer__li a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.site-footer__li a:hover {
  text-decoration: underline;
}
.site-footer__li:last-child img {
  transform: translateY(7px);
}

.site-footer__socials {
  display: flex;
  align-items: center;
}
.site-footer__socials li {
  margin-right: 16px;
}

/*# sourceMappingURL=styles.css.map */
