.additional {
   position: relative;
   z-index: 2;

   h2 {
      color: $SECTION-HEADING-COLOR;
      border-color: $MAIN-LIGHT-GREEN;
      margin: 0 auto 40px;
   }
}

.shoe-covers {
   position: relative;
   z-index: 1;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 1098px;
   margin: 0 auto;
   padding: 32px;
   background: linear-gradient(260.39deg, #01F6F6 0%, #0197F6 100%);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
}

.shoe-covers__info {
   width: 410px;

   h3 {
      width: auto;
      margin-bottom: 16px;
   }

   button {
      padding: 12px 32px;
      background: $WHITE;
      border-radius: 4px;
      border: none;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $MAIN-BLUE;
      cursor: pointer;
   }

   button:hover {
      background-color: darken($WHITE, 4);
   }
}

.shoe-covers__ul {
   margin-bottom: 16px;
}

.shoe-covers__li {
   margin-bottom: 12px;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   letter-spacing: 0.02em;
   color: $WHITE;

   strong {
      font-weight: 700;
   }
}

.medical-masks {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 874px;
   margin: 0 auto;
   padding: 32px;
   background: linear-gradient(260.39deg, #3CFCD4 0%, #1CDAB2 100%);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
   border-radius: 0 0 8px 8px;
}

.medical-masks__info {
   width: 410px;

   h3 {
      margin-bottom: 16px;
   }

   button {
      padding: 12px 32px;
      background: $WHITE;
      border-radius: 4px;
      border: none;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $MAIN-LIGHT-GREEN;
      cursor: pointer;
   }

   button:hover {
      background-color: darken($WHITE, 4);
   }
}