// base styles
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   user-select: none;
}

img {
   user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

body {
   font-family: "Montserrat", Arial, sans-serif;
   line-height: 1;
}

h1, h2, h3, h4, ul {
   margin: 0;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   display: inline-block;
   text-decoration: none;
}

input:focus, button:focus, textarea:focus {
   outline: none
}

.container {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 15px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
}
.section-title {
   width: max-content;
   padding-bottom: 8px;
   border-bottom: 8px solid $WHITE;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 32px;
   line-height: 140%;
   color: $WHITE;
}